.App {
  text-align: center;
}

/*   LANDING PAGE */
.landingPage {
  width : 100%;
  height : 500px;
  /* background-image: ; */
  align-items: center;
  justify-content: center;
}
.landingPage .btn{
  margin: 35%
}
.landingPage .btn:hover{
  background: #333;
  color: #FFF;
}

.header-title {

  padding : 50px 0px;
  text-transform: uppercase;
  
}

.footer-text{
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.leftCol, .rightCol{
height : 100%;
}
.leftBackground {
  background-color: #212529;
}
  /* SIGNUP PAGE */
  .center-page{
    width : 100%;
    height : 500px;
    background-color: #f8f9fa;
  }

  .col-info{
    padding-top: 80px;
  }



  /* QUIZ Qestion and Options */

  .signOutbtn{
    text-align: right;
    padding-top: 20px;
  }
  .connected-page{
    width : 100%;
    background-color: #f8f9fa;
    padding-bottom: 50px;
  }

.answerOptions {
  display: block;
  background-color: #1212;
  padding: 1rem 2%;
}

.answerOptions:hover {
  background-color: pink;
}
.selectedOption{
  background-color: pink;
  text-transform: uppercase;
}

.nextBtn{
  text-align:center;
}